https://www.datamanim.com/dataset/03_dataq/typeone.html

In [1]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

### Question 21
주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라.

In [17]:
top_5_country = df.groupby('Country', as_index = False).sum(['Goals']).sort_values('Goals', ascending = False).reset_index(drop = True).head()
top_5_country

     Country  Goals
0     Brazil    228
1    Germany    226
2  Argentina    135
3      Italy    123
4     France    115

### Question 22
주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라.

In [20]:
top_5_player = df[["Player", "Country"]].groupby("Country", as_index = False).count().sort_values("Player", ascending = False).reset_index(drop = True).head()
top_5_player

     Country  Player
0     Brazil      81
1    Germany      78
2      Italy      60
3  Argentina      59
4     France      58

### Question 23
Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다.  
년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라.

In [64]:
is_it_4 = lambda x: len(x) != 4
years = list(map(lambda year: year.split("-"), list(df.Years)))
no_4_years = [[is_it_4(year) for year in yr_group] for yr_group in years]

In [67]:
answer = [i for i, sublist in enumerate(no_4_years) if any(sublist)]
len(answer)

45

### Question 24
Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라.

In [73]:
df2 = df.drop(answer).reset_index(drop = True)

In [75]:
len(df2)

1250

### Question 25
월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라.

In [81]:
how_many_years = lambda x: len(x.split("-"))
df2['LenCup'] = df2['Years'].apply(how_many_years)

In [91]:
answer = df2[df2.LenCup == 4]["Player"].count()
answer

16

### Question 26
Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라.

In [95]:
df2[(df2.Country == "Yugoslavia") & (df2.LenCup == 2)]["Player"].count()

7

### Question 27
2002년도에 출전한 전체 선수는 몇명인가?

In [101]:
played_in_2002 = lambda x: '2002' in x.split("-")
answer = df2["Years"].apply(played_in_2002).sum()
answer

156

### Question 28
이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [117]:
is_his_name_Carlos = lambda name: "Carlos" in name.split(" ")

In [118]:
df2["Player"].apply(is_his_name_Carlos).sum()

13

In [122]:
# or
df2[df2.Player.str.lower().str.contains('carlos')]

                   Player  Goals           Years    Country  LenCup
149         Carlos Borges      4            1954    Uruguay       1
162       Carlos Peucelle      3            1930  Argentina       1
164          Carlos Tevez      3       2006-2010  Argentina       2
335        Carlos Tenorio      2       2002-2006    Ecuador       2
506      Carlos Babington      1            1974  Argentina       1
578        Carlos Alberto      1            1970     Brazil       1
583        Roberto Carlos      1  1998-2002-2006     Brazil       3
633          Carlos Vidal      1            1930      Chile       1
643     Carlos Valderrama      1  1990-1994-1998   Colombia       3
671       Carlos Oliveira      1            1938       Cuba       1
911           Carlos Vela      1            2018     Mexico       1
1006        Carlos Manuel      1            1986   Portugal       1
1111  Juan Carlos Valeron      1            2002      Spain       1

### Question 29
월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [132]:
answer = df2[df2.LenCup == 1].sort_values('Goals', ascending = False).head(1)
answer.Player.item()

'Just Fontaine'

### Question 30
월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [139]:
answer = df2[df2.LenCup == 1][["Player", "Country"]].groupby('Country', as_index = False).count().sort_values("Player", ascending = False).head(1)
answer.Country.item()

'Brazil'